[mysql]
default-character-set = utf8

[mysqld]
character-set-server=utf8
explicit_defaults_for_timestamp = 1
default_password_lifetime = 0

[mysqldump]
default-character-set = utf8
quick
set-charset
single-transaction